
#nuotron
  .ellipse
  .dot

a#text(href='mailto: justinhanson@gmail.com' target='_blank')
  .hover
    div Hover over me to watch
    div the magic happening
  .website Click to follow me on twitter
  .nuotron Nuotron
  .agency Agency